<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
  <table>
    <tr>
      <td>
  <input ngModel name="keyword"  type="text" class="form-control" placeholder="Search here" style="width: 100%;margin-left: 270%">
      </td>
      <td>
  <button class="btn btn-primary" STYLE="margin-left: 1400%" ><span class="fa fa-search"></span></button>
      </td>
    </tr>
  </table>
  </form>
</nav>



<nav class="navbar navbar-nav ml-auto">
  <form>
    <div class="input-group mb-3">
      <div class="card-group">
        <div class="card" style="margin-left: 7%" >
          <img class="card-img-top" src="../../../../assets/all.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">All products</h5>
            <p class="card-text">Vous pouvez consulter ici la liste des tout les produits de l'organisation  .  Merci de cliquer sur le bouton au dessous</p>
            <button (click)="onGetAllProducts()" class="btn btn-primary " style="margin-left:30% ">Get all products</button>
          </div>
        </div>
        <div class="card">

          <img class="card-img-top" src="../../../../assets/selected.png"  style="height: 46%"/>
          <div class="card-body">
            <h5 class="card-title">Selected products </h5>
            <p class="card-text">Vous pouvez consulter ici des produits selectionnés de l'organisation .  Merci de cliquer sur le bouton au dessous</p>
            <button (click)="onGetSelectedProducts()" class="btn btn-primary " style="margin-left:30% " >Get selected products</button>
          </div>
        </div>
        <div class="card" STYLE="margin-right: 7%">
          <img class="card-img-top" src="../../../../assets/available.png"  style="height: 46%" />
          <div class="card-body">
            <h5 class="card-title">Available Products</h5>
            <p class="card-text">Vous pouvez consulter ici des produits selectionnés de l'organisation .  Merci de cliquer sur le bouton au dessous.</p>
            <button (click)="onGetAvailableProducts()" class="btn btn-primary " style="margin-left:30% " >Get available products</button>
          </div>
        </div>
      </div>

    </div>
  </form>
</nav>







<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">


            <form
              class="d-none d-sm-inline-block form-inline mr-auto  my-2 my-md-0 mw-100 navbar-search">

            </form>
            <ng-container *ngIf="products$ | async as result" [ngSwitch]="result.dataState">
              <ng-container *ngSwitchCase="DataStateEnum.LOADING">
                Loading of data ....
              </ng-container>
              <ng-container *ngSwitchCase="DataStateEnum.ERROR">
                <div class="alert-danger">
                  {{result.errorMessage}}
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="DataStateEnum.LOADED">
                <div class="text-center" *ngIf="products$" >
                  <h1 class="h4 text-gray-900 mb-4" style="font-family:Cambria;">La liste des produits </h1>
                </div>

            <table class="table table-hover table-bordered table-striped table-responsive-lg" >
              <thead>
              <th >#ID </th>
              <th >Name </th>
              <th >Price</th>
              <th >Quantity</th>
              <th >Selected</th>
              <th >Available</th>
              </thead>
              <tbody>
              <tr style="cursor: pointer;" *ngFor="let p of result.data" >
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price}}</td>
                <td>{{p.quantity}}</td>
                <td>{{p.selected}}</td>
                <td>{{p.available}}</td>
                <td>
                  <button (click)="onSelect(p)" [ngClass]="p.selected?'btn-success':'btn-danger'" class="btn btn-sm btn-success" style="width:75px;">
                    <span *ngIf="p.selected">Unselect</span>
                    <span *ngIf="!p.selected" >Select</span>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="onDelete(p)">
                    <span class="fa fa-trash-o"></span>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="onEdit(p)">
                    <span class="fa fa-edit"></span>
                  </button>
                </td>
              </tr>
              </tbody>

            </table>
                <button (click)="onNewProduct()" class="btn btn-primary " >Ajouter un produit</button>
              </ng-container>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
